{#template "layout/header" .#}



<div class="wrapper">
    <div class="jumbotron index-tp">
        <h1>HelloWorld</h1>
        <p>...</p>
        <p style="margin-top:100px;"><a class="btn btn-success btn-lg" id="firstStep" role="button">起步 > </a></p>
    </div>
</div>
<div class="container-fluid list-box" id="vue">
    <div class="row">
        <div class="col-sm-12 col-md-3"  v-for="list in lists">
            <div class="box">
                <a :href="'/detail?id=' + list.id " class="index-link">
                    <div class="thumbnail">
                        <img :src="list.thumb" data-holder-rendered="true" style="height: 250px; width: 100%; display: block;">
                        <div class="caption">
                            <h3>{{ list.title }}</h3>
                            <p class="index-description">{{ list.description }}</p>
                            <p class="label-line"><span class="pull-right label label-info"> {{ list.total_time }} min</span></p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    require(["index"]);
    var MODEL =     {#.series#} ;
</script>
{# template "layout/footer" .#}